{% extends 'base.html.twig' %}

{% block body %}
    <div class="container col-lg-10 col-md-10 col-sm-12 col-xs-12 bg-light justify-content-center">

        {# TITRE : #}
        <div class="col-12">
            <h2 class="text-center my-3">{{ profile.pseudo }}</h2>
        </div>
        <div class="row justify-content-around">
            {# IMAGE #}
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 p-3">
                <img class="img-fluid" src="{{ asset('images/avatar/'~ profile.avatar) }}" alt="avatar">
            </div>

            {# INFOS PROFIL #}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 my-auto">
                    <p>Prenom : {{ profile.prenom }}</p>
                    <p>Nom : {{ profile.nom }}</p>
                    <p>Téléphone : {{ profile.telephone }}</p>
                    <p>Email : {{ profile.email }}</p>
            </div>
        </div>
    </div>

        <div class="text-center my-3">
            {% if app.user.id == profile.id %}
                <a href="{{ path('profile_edit', {'id' : app.user.id}) }}" class="white-link btn btn-secondary">
                    Modifier
                    mon
                    profil </a>
            {% endif %}
            <a href="{{ path('sortie_home') }}" class="white-link btn btn-secondary"> Retour </a>
        </div>

    {# TAB SORTIES ORGANISEES #}
    </div>

    {% if sortiesOrganisees %}
        <h1>Sorties organisées :</h1>

        <div class="container col-lg-10 col-md-20 col-sm-10 col-xs-12 d-flex justify-content-center container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom sortie</th>
                    <th scope="col">Remplissage</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                {% for sortiesOrganisee in sortiesOrganisees %}
                    <tr>
                        <th scope="row">{{ sortiesOrganisee.nom }}</th>
                        <td>{{ sortiesOrganisee.participants|length }}
                            /{{ sortiesOrganisee.nbInscriptionsMax }}</td>
                        <td><a href="{{ path('sortie_detail', {'id' : sortiesOrganisee.id}) }}"
                               title="Détails de la sortie">Détails </a>
                            {% if app.user %}
                                {% if app.user.id == sortiesOrganisee.organisateur.id and (sortiesOrganisee.etat == 'Ouverte' or sortiesOrganisee.etat == 'Créée') %}
                                    <a href="{{ path('sortie_edit', {'id' : sortiesOrganisee.id}) }}"
                                       title="Modifier la sortie">
                                        Modifier
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="3" class="alert alert-warning text-center"> Pas de sorties pour le moment
                        </th>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

        {% block title %}
            {{ parent() }} | Mon profil
        {% endblock %}


