{% extends 'base.html.twig' %}
  {% form_theme profileForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Profile{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 offset-4">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <div class="profil-title">
                    <h4>Mon profil</h4>
                </div>
                <div class="avatar">
                    <img class="img-responsive" src="{{ asset('images/avatar/'~ profile.avatar) }}" alt="avatar">
                </div>
                <div>
                    {{ form_start(profileForm) }}
                    {{ form_widget(profileForm) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Enregistrer</button>
                        <a href="{{ path('sortie_home') }}" class="white-link btn btn-secondary"> Annuler </a>
                    </div>
                    {{ form_end(profileForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}