{% extends 'base.html.twig' %}
{% form_theme profileForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Profile{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h2>Mon profil</h2>

    <div class="col-12 col-lg-4">
        {{ form_start(profileForm)}}
        {{ form_widget(profileForm) }}
        <button type="submit" class="btn btn-secondary">Enregistrer</button>
        <a class="btn btn-secondary " href="{{ path('sortie_home') }}">Annuler</a>
        {{ form_end(profileForm) }}
    </div>
{% endblock %}
