
{% extends 'base.html.twig' %}
  {% form_theme profileForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Profile{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h4 align="center">Mon profil</h4>
    <div id="global">
        <div class="d-flex justify-content-between">
            <div class="avatar">
                <img class="img-responsive" src="{{ asset('images/avatar/'~ profile.avatar) }}" alt="avatar">
            </div>
            <div>
                {{ form_start(profileForm) }}
                {{ form_widget(profileForm) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Enregistrer</button>
                    <a href="{{ path('sortie_home') }}" class="white-link btn btn-secondary"> Annuler </a>
                </div>
                {{ form_end(profileForm) }}
            </div>
        </div>
    </div>
{% endblock %}