{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} / Détail{% endblock %}

{% block body %}
    <div class="row justify-content-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row d-md-flex col-lg-12 col-md-12 col-sm-12 col-xs-12 m-2">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bg-light p-2">
                <h1 class="ml-4">Détail de la sortie</h1>
                <div class="row d-md-flex">
                    <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                        <p>Nom de la sortie : {{ sortie.nom }}</p>
                        <p>Date et heure de la sortie : {{ sortie.dateHeureDebut|date("m/d/Y H:i") }}</p>
                        <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date("m/d/Y H:i") }}</p>
                        <p>Nombre de particpants : <span
                                    id="nbreParticipant{{ sortie.id }}">{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</span>
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 mb-2">
                        <p>Durée : {{ sortie.duree }}</p>
                        <p>Description et infos : {{ sortie.infosSortie }}</p>
                        <p>Ville organisatrice : {{ sortie.site.nom }}</p>
                        <p>Lieu : <a href="#lieu"
                                     class="link-text-deco-none font-weight-bold"> {{ sortie.lieu.nom }}</a>
                        </p>
                    </div>

                    {# BOUTONS INFOS, INSCRIPTION, COMPLET... #}
                    <div class="container justify-content-between">
                        <div class="row justify-content-center mb-1 text-center">
                            {% if sortie.etat.libelle == "Passée" %}
                                <div class="col-5 mb-2"><a class="bg-info btn btn-lg">Sortie passée</a></div>
                            {% elseif sortie.etat.libelle == "Créée" %}
                                <div class="col-5 mb-2"><a class="bg-info btn btn-lg">Inscriptions bientôt ouvertes</a></div>
                            {% elseif sortie.participants|length >= sortie.nbInscriptionsMax %}
                                <div class="col-5 mb-2"><a class="bg-danger btn btn-lg" id="btn-complet">Complet!</a>
                                </div>
                                {% if sortie.participants.contains(app.user) %}
                                    <div class="col-5 mb-2">
                                        <a data-sortieId="{{ sortie.id }}" data-userId="{{ app.user.id }}"
                                           id="sortie_desinscription"
                                           class="bg-success btn btn-lg" role="button">Inscrit·e</a></div>
                                {% endif %}
                            {% elseif sortie.participants.contains(app.user) %}
                                {# Oui, l'utilisateur connecté est bien inscrit : #}
                                <div class="col-5 mb-2">
                                    <a data-sortieId="{{ sortie.id }}" data-userId="{{ app.user.id }}" id="sortie_desinscription"
                                       class="bg-success btn btn-lg" role="button">Inscrit·e</a></div>
                            {% else %}
                                {# Non, l'ulisateur connecté n'est pas inscrit à cette sortie : #}
                                <div class="col-5 mb-2">
                                    <a data-sortieId="{{ sortie.id }}" data-userId="{{ app.user.id }}" id="sortie_inscription"
                                       class="bg-warning btn btn-light btn-lg" role="button">S'incrire</a>
                                </div>
                            {% endif %}
                            {% if app.user.id == sortie.organisateur.id and (sortie.etat == 'Ouverte' or sortie.etat == 'Créée')  %}
                                <div class="col-5 mb-2">
                                    <a href="{{ path('sortie_edit', {'id' : sortie.id}) }}" class="btn btn-secondary btn-lg"
                                       role="button">Modifier</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {# MAP #}
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 bg-light p-2">
                <div id="lieu" class="google-maps m-2">
                    {{ sortie.lieu.urlMap|raw }}
                </div>
            </div>

        </div>

        <div class="container col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h1 class="ml-4">Détail des participants</h1>
            <div class="container col-lg-10 col-md-20 col-sm-10 col-xs-12 d-flex justify-content-center container">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {# TODO Ajouter pseudo et non prenom #}
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in sortie.participants %}
                        <tr>
                            <th scope="row"><a class="link-text-deco-none"
                                               href="{{ path('profile_detail', {'id' : participant.id}) }}"
                                               title="Détails du participant">{{ participant.pseudo }}</a></th>
                            <td>{{ participant.nom }}</td>
                        </tr>
                    {% else %}
                        <div>Pas de partipants pour le moment</div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
