{% extends 'base.html.twig' %}
{% form_theme researchForm 'bootstrap_4_layout.html.twig' %}


{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {# FORMULAIRE DE RECHERCHE #}
    <div class="container col-lg-10 col-md-10 col-sm-12 col-xs-12 justify-content-between bg-light mt-2 mb-2">
        {{ form_start(researchForm) }}
        <div class="row mb-1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="d-flex justify-content-between mb-1">
                    <span class="col-4">{{ form_label(researchForm.site) }}</span>
                    <div class="alert-danger">{{ form_errors(researchForm.site) }}</div>
                    <span class="col-8">{{ form_widget(researchForm.site) }}</span>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <span class="col-4">{{ form_label(researchForm.nomSortie) }}</span>
                    <div class="alert-danger">{{ form_errors(researchForm.nomSortie) }}</div>
                    <span class="col-8">{{ form_widget(researchForm.nomSortie) }}</span>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        {{ form_label(researchForm.dateMin) }}
                        <div class="alert-danger">{{ form_errors(researchForm.dateMin) }}</div>
                        {{ form_widget(researchForm.dateMin) }}
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        {{ form_label(researchForm.dateMax) }}
                        <div class="alert-danger">{{ form_errors(researchForm.dateMax) }}</div>
                        {{ form_widget(researchForm.dateMax) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ form_row(researchForm.specificitees) }}
                <div class="text-center">
                    <button type="submit" class="btn btn-dark font-weight-bold">Rechercher
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(researchForm) }}
    </div>


    {# LISTE DES SORTIES #}
    <div class="d-flex justify-content-center container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date</th>
                <th scope="col">Cloture</th>
                <th scope="col">Inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <th scope="row">{{ sortie.nom }}</th>
                    <td>{{ sortie.dateHeureDebut|date("m/d/Y H:i") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date("m/d/Y") }}</td>
                    <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    {% if sortie.participants.contains(app.user) %}
                        {# Oui, l'utilisateur connecté est bien inscrit : #}
                        <td>X</td>
                    {% else %}
                        {# Non, l'ulisateur connecté n'est pas inscrit à cette sortie : #}
                        <td><a data-sortieId="{{ sortie.id }}" data-userId="{{ app.user.id }}" class="sortie_inscription btn btn-light btn-lg" role="button">S'incrire</a></td>
                    {% endif %}

                    {% if app.user %}
                        {% if app.user.id == sortie.organisateur.id %}
                            <td>
                                <a href="{{ path('app_profile', {'id' : sortie.organisateur.id}) }}" title="Détails de l'organisateur'">
                                    {{ sortie.organisateur.pseudo }}
                                </a>
                            </td>
                    {% else %}
                        <td>
                            <a href="{{ path('profile_detail', {'id' : sortie.organisateur.id}) }}" title="Détails de l'organisateur'">
                            {{ sortie.organisateur.pseudo }}
                            </a>
                        </td>
                        {% endif %}
                    {% endif %}

                    <td><a href="{{ path('sortie_detail', {'id' : sortie.id}) }}"
                           title="Détails de la sortie">Détails </a>
                        {% if app.user %}
                            {% if app.user.id == sortie.organisateur.id %}
                                <a href="{{ path('sortie_edit', {'id' : sortie.id}) }}" title="Modifier la sortie">
                                Modifier
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="8" class="alert alert-warning text-center"> Pas de sorties pour le moment</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <a href="{{ path('sortie_create') }}" class="btn btn-secondary btn-lg" role="button">Créer une sortie</a>
    </div>
{% endblock %}

